doctype html
head
  meta(charset='utf-8')
  title Mundito
  meta(name='generator' content='Google Web Designer 5.0.4.0226')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
  style#gwd-text-style(type='text/css').
#title
  h1 Miguel Mendez
#globito1
  img(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/globe1.png')
#globito2
  img(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/globe2.png')
#solecito
  img(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/sun.png')
#boxesito
  template#gwd-group-definitions
    div(data-gwd-group-def='Grupo1' data-gwd-group-class='gwd-grp-k39e' style='display: none;')
      img.gwd-img-1h5f.gwd-grp-k39e(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/base-eli.png' data-gwd-grp-id='base-eli_1')
      img.gwd-img-k2lv.gwd-grp-k39e(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/helice.png' data-gwd-grp-id='helice_1')
    div(data-gwd-group-def='Grupo2' data-gwd-group-class='gwd-grp-1mjq' style='display: none;')
      img.gwd-img-141o.gwd-grp-1mjq(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/base-eli.png' data-gwd-grp-id='base-eli')
      img.gwd-img-xv8y.gwd-gen-b562gwdanimation.gwd-grp-1mjq(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/helice.png' data-gwd-grp-id='helice')
  .gwd-div-e3km
    img#base.gwd-img-1880.gwd-gen-b1hegwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/base.png')
    img#mountains2.gwd-img-16cy.gwd-gen-16ucgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/mountains2.png')
    img#mountain2.gwd-img-nmbs.gwd-gen-kal8gwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/mountain2.png')
    img#mountain2_1.gwd-img-15h5.gwd-gen-1r86gwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/mountain2.png')
    .gwd-div-nwa7.gwd-gen-9fw3gwdanimation(data-gwd-group='Grupo1')
    .gwd-div-kfti.gwd-gen-13o6gwdanimation
      img#base-eli_2.gwd-img-1ncl.gwd-gen-144vgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/base-eli.png')
      img#helice_2.gwd-img-ndpi.gwd-gen-q0lfgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/helice.png')
    .gwd-div-1wa7.gwd-gen-gt6hgwdanimation(data-gwd-group='Grupo2')
    img#base2.gwd-img-16pi.gwd-gen-11llgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/base2.png')
    img#base3.gwd-img-8xjq.gwd-gen-iy2qgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/base3.png')
    img#plantanuc.gwd-img-1cd0.gwd-gen-1p5jgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/plantanuc.png')
    img#house.gwd-img-9sdv.gwd-gen-10ipgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/house.png')
    img#gloge-pplants.gwd-img-1bx9.gwd-gen-hnpcgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/gloge-pplants.png')
    img#humo1.gwd-img-1qkx.gwd-gen-e6mmgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/humo1.png')
    img#tree1.gwd-img-5q2v.gwd-gen-t395gwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/tree1.png')
    img#tree2_1.gwd-img-2g5r.gwd-gen-2h2ggwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/tree2.png')
    img#tree1_2.gwd-img-1s3a.gwd-gen-wfwhgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/tree1.png')
    img#tree1_1.gwd-img-lm5u.gwd-gen-v64cgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/tree1.png')
    img#tree2.gwd-img-djew.gwd-gen-xubggwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/tree2.png')
    img#tree1_3.gwd-img-1gdl.gwd-gen-196ygwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/tree1.png')
    img#arbusto1.gwd-img-1uio.gwd-gen-u4eygwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/arbusto1.png')
    img#arbusto2.gwd-img-1hcf.gwd-gen-16mggwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/arbusto2.png')
    img#arbusto1_1.gwd-img-4pzq.gwd-gen-h7vmgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/arbusto1.png')
    img#arbusto2_1.gwd-img-1blt.gwd-gen-pcsdgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/arbusto2.png')
    img#celda.gwd-img-1apk.gwd-gen-1oragwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/celda.png')
    img#celda_1.gwd-img-1d98.gwd-gen-16jogwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/celda.png')
    img#celda_2.gwd-img-8la0.gwd-gen-11pggwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/celda.png')
    img#carrito.gwd-img-pbme.gwd-gen-y3w1gwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/carrito.png')
    img#carrito_1.gwd-img-1i4a.gwd-gen-bo0xgwdanimation(src='http://york-cdn.amazonaws.com.s3.amazonaws.com/cdn/anima1/carrito.png')
#nubes2